.MainBody{
    background-color: gray;
    margin-left: 400px;
    margin-top: 25px;
    width: 700px;
    height: 700px;
}
#TextBox{
    margin-top: 35px;
    width: 550px;
    height: 100px;
    background: white;
    margin-left: 70px;
    pointer-events: none;
}
.Buttons{
    margin-top: 25px;
    
    
}
.btn{
    width: 70px;
    height: 70px;
    margin-left: 80px;
    margin-top: 30px;   
    background: blanchedalmond;
    
}
.hbtn:hover{
    background-color: blanchedalmond;
}
.hbtn{
    height: 8em;width: 53em;    margin-left: 30em;margin-top: 4em;background-color: beige;color: brown;border-color: brown;
}